*{
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    /* margin: 0; */
    background-color: springgreen;
    
}
.container{
    max-width: 500px;
    min-height: 400px;
    margin: auto;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    margin-top: 20px;
}
h1{
    text-align: center;
}
input{
    background-color: rgb(245, 243, 243);
    width: 100%;
    height: 35px;
    margin: auto;
    margin-bottom: 15px;
    border-radius: 15px;
    border: none;
    padding-left: 5%;
}
input:focus{
    outline: none;
}
.rules{
    width: 100%;
    display: inline;
    padding: 5px;
    margin: auto ;
}
.rules input{
    width: 12px;
    height: 12px;
}
.rules a{
    text-decoration: none;
    color: #4cd137;
}
.checked{
    margin: auto;
    text-align: center;
}
button{
    background-color: #4cd137;
    width: 100%;
    height: 35px;
    border-radius: 15px;
    border: none;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    transition: 0.4s;
}
.button :hover{
    background-color:rgb(94, 255, 0);
}