* {
  box-sizing: border-box;
}
/* .container {
  background: rgb(227, 250, 250);
} */
.title h1 {
  /* text-align: center; */
  width: 100%;
  justify-content: center;
  display: flex;
}
.content {
  width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: space-between;
}
.box {
  /* padding: 22.4px; */
  box-shadow: 0 2px 3px 1px rgb(0 0 0 / 15%);
  width: 30%;
  border-radius: 3px;
  margin: 15px;
  position: relative;
}
.box :hover {
  box-shadow: 2px 2px 2px 2px rgba(41, 38, 38, 0.15);
}
.box h3 p {
  width: 50%;

  /* margin: auto; */
}
.box h3 {
  font-weight: bold;
  margin: 0px 0px 10px;
}
.img {
  /* vertical-align: middle; */
  max-width: 100%;
}
img {
  /* box-shadow: 0 2px 3px 1px rgb(0 0 0 / 15%); */
  display: block;
  margin: auto;
  max-width: 100%;
  border-radius: 5px 5px 0px 0px;
}
.text-description {
  background: rgb(255, 255, 255);
  /* display: block; */
  padding: 1.4rem;
}
.text_detail {
  color: rgb(0, 0, 0);
}
.date_time {
  margin-bottom: 10px;
  font-weight: bold;
}

/* .box :hover{
    box-shadow: 1px 1px 2px 1px rgb(184, 178, 178);
} */
