*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color:  #000;
}
.menu ul{
    list-style-type: none;
    background: #0f0;
    text-align: center;
}
.menu ul li{
    color: #000;
    display: inline-table;
    width: 120px;
    height: 40px;
    line-height: 40px;
    position: relative;
}
.menu ul li a{
    color: #FFF;
    text-decoration: none;
    display: block;
}
li:hover{
    border-radius: 10px;
    background: rgb(16, 158, 16);
    transition: 0.5s;
}
.menu ul li a:hover{
    background: #FF0;
    color: #333;
    transition: 0.8s;
}
.menu ul li>.menucon{
    display: none;
    position: absolute;
}
.menu ul li:hover .menucon{
    border-inline: 15px;
    display: block;
}