*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    color:  #000;
    background-color: #82ccdd;
}
.menu ul{
    list-style-type: none;
    background: #8395a7;
    text-align: center;
}
.menu ul li{
    color: #ffffff;
    display: inline-table;
    width: 120px;
    height: 40px;
    line-height: 40px;
    position: relative;
}
.menu ul li a{
    color: #ffffff;
    text-decoration: none;
    display: block;
}
.menu li:hover{
    border-radius: 10px;
    background: #f8a5c2;
    transition: 0.5s;
}
.menu ul li a:hover{
    border-radius: 10px;
    /* background: #FF0; */
    background: #f8a5c2;
    color: #1e272e;
    transition: 0.8s;
}
.menu ul li>.menucon{
    border-radius: 5px;
    display: none;
    position: absolute;
}
.menu ul li:hover .menucon{
    border-radius: 5px;
    border-inline: 15px;
    display: block;
}
.tittle{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
/* h1{
    text-align: center;
    padding: 5px;
    margin-top: 25px;
} */
.content{
    display: flex;
    width: 1000px;
    margin: auto;
    flex-wrap: wrap;
    
}
.content{
    margin-top: 50px;
    margin-left: auto;
}
.box img{
    border-radius: 3%;
    margin: 10px;
    max-width: 300px;
    box-shadow: 2px 4px 3px 4px rgb(0 0 0 / 15%);
    border-radius: 5px;
}
.box a{
    text-decoration: none;
}
box:hover{
    box-shadow: 2px 2px 2px 2px rgba(41, 38, 38, 0.15);
}
/*  */
/*css containerback-ground  */
/* .container-backg h1{
    text-align: center;
    padding: 5px;
    margin-top: 25px;
}
.content-backg{
    display: flex;
    width: 1000px;
    margin: auto;
    flex-wrap: wrap;
    
}
.content-backg{
    margin-top: 50px;
    margin-left: auto;
}
.box img{
    border-radius: 3%;
    margin: 10px;
    max-width: 300px;
    box-shadow: 2px 2px 3px 2px rgb(0 0 0 / 15%);
    border-radius: 5px;
}
box img:hover{
    box-shadow: 2px 2px 2px 2px rgba(41, 38, 38, 0.15);
} */
